<div class="list-group">
    <a href="#" class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h5>{{ text }}</h5>
                    <h5>Status: {{ completed ? 'Completed' : 'Not yet'}}</h5>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </a>
</div>
